<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AF0BFE63-4798-469B-B2C2-ADD8FA74F6DA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
