<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BBE30CBD-EB0C-4D91-8C28-4FAA44BDAAEA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
