<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>34FAF8D1-F761-451E-9415-176A8CCD1D4C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
