<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F6F9FC4A-E96E-4338-B4D0-FC68A4583D5E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
