<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B2FD6007-1776-4F53-9908-96B4E99B3EFD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
