<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 18:43</string>
      <string>glyphs.B_old A_ug 14 16, 18_43</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 21:14</string>
      <string>glyphs.B_old A_ug 14 16, 21_14</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 21:21</string>
      <string>glyphs.B_old A_ug 14 16, 21_21</string>
    </array>
    <array>
      <string>Bold Aug 15 16, 16:43</string>
      <string>glyphs.B_old A_ug 15 16, 16_43</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 23:25</string>
      <string>glyphs.B_old A_ug 14 16, 23_25</string>
    </array>
    <array>
      <string>Bold Jul 10 13, 09:03</string>
      <string>glyphs.B_old J_ul 10 13, 09_03</string>
    </array>
    <array>
      <string>Bold Jul 10 13, 11:18</string>
      <string>glyphs.B_old J_ul 10 13, 11_18</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 21:13</string>
      <string>glyphs.B_old A_ug 14 16, 21_13</string>
    </array>
    <array>
      <string>Bold Aug 14 16, 22:57</string>
      <string>glyphs.B_old A_ug 14 16, 22_57</string>
    </array>
    <array>
      <string>Bold Aug 15 16, 09:21</string>
      <string>glyphs.B_old A_ug 15 16, 09_21</string>
    </array>
    <array>
      <string>Bold Aug 15 16, 17:19</string>
      <string>glyphs.B_old A_ug 15 16, 17_19</string>
    </array>
    <array>
      <string>Bold Aug 15 16, 17:06</string>
      <string>glyphs.B_old A_ug 15 16, 17_06</string>
    </array>
    <array>
      <string>Bold Aug 15 16, 16:35</string>
      <string>glyphs.B_old A_ug 15 16, 16_35</string>
    </array>
  </array>
</plist>
