<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DD708C8A-246B-4207-BBA9-12F148C4F246</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
