<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a-cy</key>
    <string>a-cy.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dze-cy</key>
    <string>dze-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>er-cy</key>
    <string>er-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>es-cy</key>
    <string>es-cy.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>ha-cy</key>
    <string>ha-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>i-cy</key>
    <string>i-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ie-cy</key>
    <string>ie-cy.glif</string>
    <key>iegrave-cy</key>
    <string>iegrave-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iigrave-cy</key>
    <string>iigrave-cy.glif</string>
    <key>iigrave-cy.ss01</key>
    <string>iigrave-cy.ss01.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>iishort-cy.ss01</key>
    <string>iishort-cy.ss01.glif</string>
    <key>io-cy</key>
    <string>io-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>o-cy</key>
    <string>o-cy.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
