<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A97840C-00EB-45FE-8D8D-2E841865655B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dze-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzhe-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.en-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endescender-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.er-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.es-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gje-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ha-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ie-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iegrave-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iigrave-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iigrave-cy.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishort-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishort-cy.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.io-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iu-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.je-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kje-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nje-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.te-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tse-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ushort-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraitstroke-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeru-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yi-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
