<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A86C0D18-4940-4857-9DB8-C549E76BDA08</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
