<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>466BD0CA-7EA3-4621-8E46-01622DDCF659</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy.loclBGR</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
