<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>El-cy.loclBGR</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Ve-cy</string>
      <string>Ze-cy</string>
    </array>
    <key>public.kern1.Be-cy</key>
    <array>
      <string>Be-cy</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Es-cy</string>
      <string>E-cy</string>
    </array>
    <key>public.kern1.De-cy.loclBGR</key>
    <array>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
    </array>
    <key>public.kern1.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Gheupturn-cy</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>El-cy</string>
      <string>Em-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Che-cy</string>
      <string>Sha-cy</string>
      <string>Dzhe-cy</string>
      <string>Ia-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Ii-cy.loclBGR</string>
      <string>Iishort-cy.loclBGR</string>
      <string>Iigrave-cy.loclBGR</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I-cy</string>
      <string>Yi-cy</string>
    </array>
    <key>public.kern1.I-cy</key>
    <array>
      <string>Yeru-cy</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Zhe-cy</string>
      <string>Ka-cy</string>
      <string>Kje-cy</string>
      <string>Yusbig-cy</string>
      <string>Kaverticalstroke-cy</string>
    </array>
    <key>public.kern1.Kadescender-cy</key>
    <array>
      <string>Kadescender-cy</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>O-cy</string>
      <string>Ef-cy</string>
      <string>Ereversed-cy</string>
      <string>Iu-cy</string>
      <string>Schwa-cy</string>
      <string>Ef-cy.loclBGR</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Er-cy</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>Dze-cy</string>
    </array>
    <key>public.kern1.Softsign-cy</key>
    <array>
      <string>Softsign-cy</string>
      <string>Hardsign-cy</string>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
      <string>Yat-cy</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Te-cy</string>
    </array>
    <key>public.kern1.Tse-cy</key>
    <array>
      <string>De-cy</string>
      <string>Tse-cy</string>
      <string>Shcha-cy</string>
      <string>Endescender-cy</string>
    </array>
    <key>public.kern1.Tshe-cy</key>
    <array>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Izhitsa-cy</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a-cy</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>es-cy</string>
      <string>e-cy</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.de-cy.loclBGR</key>
    <array>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
    </array>
    <key>public.kern1.el-cy.loclBGR</key>
    <array>
      <string>el-cy.loclBGR</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>longs</string>
      <string>f.ss02</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>g.ss01</string>
    </array>
    <key>public.kern1.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>fi</string>
      <string>i-cy</string>
      <string>yi-cy</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>ij</string>
      <string>je-cy</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>zhe-cy</string>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>zhe-cy.loclBGR</string>
      <string>ka-cy.loclBGR</string>
    </array>
    <key>public.kern1.kadescender-cy</key>
    <array>
      <string>kadescender-cy</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>fl</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>en-cy</string>
      <string>tshe-cy</string>
      <string>dje-cy</string>
      <string>pe-cy.loclBGR</string>
      <string>te-cy.loclBGR</string>
      <string>ii-cy.ss01</string>
      <string>iishort-cy.ss01</string>
      <string>iigrave-cy.ss01</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>be-cy</string>
      <string>o-cy</string>
      <string>er-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>iu-cy</string>
      <string>schwa-cy</string>
      <string>ve-cy.loclBGR</string>
      <string>iu-cy.loclBGR</string>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern1.parenthesis</key>
    <array>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>dze-cy</string>
      <string>ge-cy.loclBGR</string>
    </array>
    <key>public.kern1.softsign-cy</key>
    <array>
      <string>softsign-cy</string>
      <string>hardsign-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>yat-cy</string>
      <string>softsign-cy.loclBGR</string>
      <string>hardsign-cy.loclBGR</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_z.ss05</string>
    </array>
    <key>public.kern1.te-cy</key>
    <array>
      <string>te-cy</string>
    </array>
    <key>public.kern1.tse-cy</key>
    <array>
      <string>de-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
      <string>endescender-cy</string>
      <string>tse-cy.loclBGR</string>
      <string>shcha-cy.loclBGR</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>el-cy</string>
      <string>em-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>sha-cy</string>
      <string>dzhe-cy</string>
      <string>yeru-cy</string>
      <string>ia-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>ii-cy.loclBGR</string>
      <string>iishort-cy.loclBGR</string>
      <string>iigrave-cy.loclBGR</string>
      <string>che-cy.loclBGR</string>
      <string>sha-cy.loclBGR</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>izhitsa-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern1.ve-cy</key>
    <array>
      <string>ve-cy</string>
      <string>ze-cy</string>
      <string>ze-cy.loclBGR</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
      <string>ha-cy</string>
      <string>yusbig-cy</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>z.ss05</string>
      <string>t_z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>El-cy.loclBGR</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Che-cy</string>
      <string>Cheverticalstroke-cy</string>
    </array>
    <key>public.kern2.De-cy</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern2.De-cy.loclBGR</key>
    <array>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Lje-cy</string>
    </array>
    <key>public.kern2.Ereversed-cy</key>
    <array>
      <string>Ereversed-cy</string>
      <string>Schwa-cy</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Be-cy</string>
      <string>Ve-cy</string>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Gheupturn-cy</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Ka-cy</string>
      <string>Kje-cy</string>
      <string>Em-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Er-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Dzhe-cy</string>
      <string>Softsign-cy</string>
      <string>Yeru-cy</string>
      <string>Nje-cy</string>
      <string>Iu-cy</string>
      <string>Kadescender-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Endescender-cy</string>
      <string>Ii-cy.loclBGR</string>
      <string>Iishort-cy.loclBGR</string>
      <string>Iigrave-cy.loclBGR</string>
    </array>
    <key>public.kern2.Hbar</key>
    <array>
      <string>Yat-cy</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I-cy</string>
      <string>Yi-cy</string>
    </array>
    <key>public.kern2.Ia-cy</key>
    <array>
      <string>Ia-cy</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>O-cy</string>
      <string>Es-cy</string>
      <string>Ef-cy</string>
      <string>E-cy</string>
      <string>Ef-cy.loclBGR</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>Dze-cy</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Te-cy</string>
      <string>Hardsign-cy</string>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Izhitsa-cy</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
      <string>Zhe-cy</string>
      <string>Ha-cy</string>
      <string>Yusbig-cy</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>a-cy</string>
    </array>
    <key>public.kern2.be-cy</key>
    <array>
      <string>be-cy</string>
    </array>
    <key>public.kern2.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>che-cy.loclBGR</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.de-cy</key>
    <array>
      <string>de-cy</string>
    </array>
    <key>public.kern2.de-cy.loclBGR</key>
    <array>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern2.el-cy</key>
    <array>
      <string>el-cy</string>
      <string>lje-cy</string>
    </array>
    <key>public.kern2.el-cy.loclBGR</key>
    <array>
      <string>el-cy.loclBGR</string>
    </array>
    <key>public.kern2.ereversed-cy</key>
    <array>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.ss02</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>g.ss01</string>
    </array>
    <key>public.kern2.germandbls</key>
    <array>
      <string>germandbls</string>
      <string>longs</string>
      <string>germandbls.ss05</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>ve-cy.loclBGR</string>
      <string>ka-cy.loclBGR</string>
      <string>iu-cy.loclBGR</string>
    </array>
    <key>public.kern2.hbar</key>
    <array>
      <string>tshe-cy</string>
      <string>dje-cy</string>
      <string>yat-cy</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>i-cy</string>
      <string>yi-cy</string>
    </array>
    <key>public.kern2.ia-cy</key>
    <array>
      <string>ia-cy</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>je-cy</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>ve-cy</string>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>dzhe-cy</string>
      <string>softsign-cy</string>
      <string>yeru-cy</string>
      <string>nje-cy</string>
      <string>iu-cy</string>
      <string>kadescender-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>endescender-cy</string>
      <string>pe-cy.loclBGR</string>
      <string>te-cy.loclBGR</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
      <string>o-cy</string>
      <string>es-cy</string>
      <string>ef-cy</string>
      <string>e-cy</string>
      <string>schwa-cy</string>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
      <string>er-cy</string>
    </array>
    <key>public.kern2.parenthesis</key>
    <array>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>dze-cy</string>
      <string>ge-cy.loclBGR</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_z</string>
      <string>t_z.ss05</string>
    </array>
    <key>public.kern2.te-cy</key>
    <array>
      <string>te-cy</string>
      <string>hardsign-cy</string>
      <string>hardsign-cy.loclBGR</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>ii-cy.loclBGR</string>
      <string>iishort-cy.loclBGR</string>
      <string>iigrave-cy.loclBGR</string>
      <string>tse-cy.loclBGR</string>
      <string>sha-cy.loclBGR</string>
      <string>shcha-cy.loclBGR</string>
      <string>softsign-cy.loclBGR</string>
      <string>ii-cy.ss01</string>
      <string>iishort-cy.ss01</string>
      <string>iigrave-cy.ss01</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>izhitsa-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
      <string>zhe-cy</string>
      <string>ha-cy</string>
      <string>yusbig-cy</string>
      <string>zhe-cy.loclBGR</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>z.ss05</string>
    </array>
    <key>public.kern2.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>ze-cy.loclBGR</string>
    </array>
  </dict>
</plist>
