<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Light Apr 18 13, 15:18</string>
      <string>glyphs.L_ight A_pr 18 13, 15_18</string>
    </array>
    <array>
      <string>Bold Apr 18 13, 18:23</string>
      <string>glyphs.B_old A_pr 18 13, 18_23</string>
    </array>
    <array>
      <string>Bold Apr 18 13, 18:12</string>
      <string>glyphs.B_old A_pr 18 13, 18_12</string>
    </array>
    <array>
      <string>Light Jul 10 13, 09:29</string>
      <string>glyphs.L_ight J_ul 10 13, 09_29</string>
    </array>
    <array>
      <string>Light Apr 14 13, 16:37</string>
      <string>glyphs.L_ight A_pr 14 13, 16_37</string>
    </array>
    <array>
      <string>Light Apr 27 13, 10:54</string>
      <string>glyphs.L_ight A_pr 27 13, 10_54</string>
    </array>
    <array>
      <string>Bold Apr 27 13, 11:01</string>
      <string>glyphs.B_old A_pr 27 13, 11_01</string>
    </array>
    <array>
      <string>Light May 17 13, 18:44</string>
      <string>glyphs.L_ight M_ay 17 13, 18_44</string>
    </array>
    <array>
      <string>Bold May 17 13, 18:46</string>
      <string>glyphs.B_old M_ay 17 13, 18_46</string>
    </array>
    <array>
      <string>Light Jul 10 13, 10:17</string>
      <string>glyphs.L_ight J_ul 10 13, 10_17</string>
    </array>
    <array>
      <string>Light May 15 13, 17:27</string>
      <string>glyphs.L_ight M_ay 15 13, 17_27</string>
    </array>
    <array>
      <string>Bold May 15 13, 17:31</string>
      <string>glyphs.B_old M_ay 15 13, 17_31</string>
    </array>
    <array>
      <string>Light Apr 20 13, 15:36</string>
      <string>glyphs.L_ight A_pr 20 13, 15_36</string>
    </array>
    <array>
      <string>Bold May 15 13, 17:12</string>
      <string>glyphs.B_old M_ay 15 13, 17_12</string>
    </array>
    <array>
      <string>Light Jul 10 13, 11:06</string>
      <string>glyphs.L_ight J_ul 10 13, 11_06</string>
    </array>
    <array>
      <string>Light Apr 21 13, 20:45</string>
      <string>glyphs.L_ight A_pr 21 13, 20_45</string>
    </array>
    <array>
      <string>Light Jul 11 13, 17:01</string>
      <string>glyphs.L_ight J_ul 11 13, 17_01</string>
    </array>
    <array>
      <string>Light Apr 21 13, 20:53</string>
      <string>glyphs.L_ight A_pr 21 13, 20_53</string>
    </array>
    <array>
      <string>Light Aug 12 16, 21:17</string>
      <string>glyphs.L_ight A_ug 12 16, 21_17</string>
    </array>
    <array>
      <string>Light Aug 14 16, 18:56</string>
      <string>glyphs.L_ight A_ug 14 16, 18_56</string>
    </array>
    <array>
      <string>Light Aug 14 16, 21:11</string>
      <string>glyphs.L_ight A_ug 14 16, 21_11</string>
    </array>
    <array>
      <string>Light Aug 14 16, 21:24</string>
      <string>glyphs.L_ight A_ug 14 16, 21_24</string>
    </array>
    <array>
      <string>Light Aug 15 16, 16:38</string>
      <string>glyphs.L_ight A_ug 15 16, 16_38</string>
    </array>
    <array>
      <string>Light Aug 14 16, 23:26</string>
      <string>glyphs.L_ight A_ug 14 16, 23_26</string>
    </array>
    <array>
      <string>new Layer</string>
      <string>glyphs.new L_ayer</string>
    </array>
    <array>
      <string>Bold Apr 28 13, 14:54</string>
      <string>glyphs.B_old A_pr 28 13, 14_54</string>
    </array>
    <array>
      <string>Light Apr 14 13, 18:08</string>
      <string>glyphs.L_ight A_pr 14 13, 18_08</string>
    </array>
    <array>
      <string>Bold Apr 28 13, 14:59</string>
      <string>glyphs.B_old A_pr 28 13, 14_59</string>
    </array>
    <array>
      <string>Bold Apr 28 13, 15:01</string>
      <string>glyphs.B_old A_pr 28 13, 15_01</string>
    </array>
    <array>
      <string>Light Aug 15 16, 18:21</string>
      <string>glyphs.L_ight A_ug 15 16, 18_21</string>
    </array>
    <array>
      <string>Light Apr 28 13, 14:17</string>
      <string>glyphs.L_ight A_pr 28 13, 14_17</string>
    </array>
    <array>
      <string>patita</string>
      <string>glyphs.patita</string>
    </array>
    <array>
      <string>Light Apr 21 13, 17:16</string>
      <string>glyphs.L_ight A_pr 21 13, 17_16</string>
    </array>
    <array>
      <string>Light Apr 27 13, 18:02</string>
      <string>glyphs.L_ight A_pr 27 13, 18_02</string>
    </array>
    <array>
      <string>Light Apr 28 13, 14:30</string>
      <string>glyphs.L_ight A_pr 28 13, 14_30</string>
    </array>
    <array>
      <string>Bold May 17 13, 16:54</string>
      <string>glyphs.B_old M_ay 17 13, 16_54</string>
    </array>
    <array>
      <string>Light May 17 13, 16:55</string>
      <string>glyphs.L_ight M_ay 17 13, 16_55</string>
    </array>
    <array>
      <string>Light Apr 14 13, 18:59</string>
      <string>glyphs.L_ight A_pr 14 13, 18_59</string>
    </array>
    <array>
      <string>Light Aug 14 16, 21:12</string>
      <string>glyphs.L_ight A_ug 14 16, 21_12</string>
    </array>
    <array>
      <string>Light Apr 14 13, 19:19</string>
      <string>glyphs.L_ight A_pr 14 13, 19_19</string>
    </array>
    <array>
      <string>Light Aug 14 16, 21:18</string>
      <string>glyphs.L_ight A_ug 14 16, 21_18</string>
    </array>
    <array>
      <string>Light Aug 15 16, 09:24</string>
      <string>glyphs.L_ight A_ug 15 16, 09_24</string>
    </array>
    <array>
      <string>Light Aug 15 16, 17:19</string>
      <string>glyphs.L_ight A_ug 15 16, 17_19</string>
    </array>
    <array>
      <string>Light Aug 15 16, 16:59</string>
      <string>glyphs.L_ight A_ug 15 16, 16_59</string>
    </array>
    <array>
      <string>Light Aug 15 16, 18:09</string>
      <string>glyphs.L_ight A_ug 15 16, 18_09</string>
    </array>
  </array>
</plist>
