*.md
*.json
!tests/**/*-snapshots/**/*.json
*.html
*.css
# Ignore compiled wasm and python wheels
wasm-dist/
wheels/
# Ignore webpack build output
build/
# Ignore Playwright test artifacts
test-results/
playwright-report/
